html
	head
		title= 'Photography by ' + site.title
		+h.headers
		+h.load('/template/gallery/photoswipe.css', '/template/gallery/default-skin/default-skin.css', '/template/pace-theme-big-counter.css', '/template/style.scss')
		+h.load('/template/gallery/jquery-3.3.1.min.js', '/template/pace.min.js', '/template/gallery/photoswipe.min.js', '/template/gallery/photoswipe-ui-default.min.js', '/template/gallery/masonry.pkgd.min.js', '/template/gallery/imagesloaded.pkgd.min.js', '/template/gallery/photoswipe-masonry.js')
		link(rel='apple-touch-icon', href=site.site_avatar)

	body#foto
		#header.auto_header
			a(href='/photography')
				img(src=site.site_avatar, alt=site.title)
			h1 Photography by <a href='//shuiba.co'>Shuibaco</a>

		#main
			#psgal_7_1.psgal.gallery-columns-3.gallery-size-thumbnail(itemscope='', itemtype='http://schema.org/ImageGallery')
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/47.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Kobe, Hyogo, Japan')
						img(src='img/47.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/46.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Home')
						img(src='img/46.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/45.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Home')
						img(src='img/45.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/44.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Home')
						img(src='img/44.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/43.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Home')
						img(src='img/43.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/42.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Home')
						img(src='img/42.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/41.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Home')
						img(src='img/41.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/40.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Home')
						img(src='img/40.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/39.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Home')
						img(src='img/39.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/38.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Home')
						img(src='img/38.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/37.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Home')
						img(src='img/37.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/36.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Kyoto, Japan')
						img(src='img/36.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/35.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Kyoto, Japan')
						img(src='img/35.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption

				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/34.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Kobe, Hyogo, Japan')
						img(src='img/34.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption

				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/33.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Kobe, Hyogo, Japan')
						img(src='img/33.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption

				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/32.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Helsinki, Uusimaa, Finland')
						img(src='img/32.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption

				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/31.jpg', itemprop='contentUrl', data-size='1920x772', data-caption='@Tromsø, Troms og Finnmark, Norway')
						img(src='img/31.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption

				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/30.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Tromsø, Troms og Finnmark, Norway')
						img(src='img/30.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/29.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Tromsø, Troms og Finnmark, Norway')
						img(src='img/29.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/28.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Tromsø, Troms og Finnmark, Norway')
						img(src='img/28.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/27.jpg', itemprop='contentUrl', data-size='1920x987', data-caption='@Kirkenes, Troms og Finnmark, Norway')
						img(src='img/27.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption

				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/26.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Inari, Lapland, Finland')
						img(src='img/26.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/25.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Rovaniemi, Lapland, Finland')
						img(src='img/25.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/24.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Sky')
						img(src='img/24.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/23.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Kanazawa, Ishikawa, Japan')
						img(src='img/23.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/22.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Kanazawa, Ishikawa, Japan')
						img(src='img/22.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/21.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Singapore')
						img(src='img/21.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/20.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Singapore')
						img(src='img/20.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/19.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Singapore')
						img(src='img/19.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/18.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Singapore')
						img(src='img/18.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/17.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Singapore')
						img(src='img/17.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/16.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Nara, Japan')
						img(src='img/16.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/15.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Nara, Japan')
						img(src='img/15.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/14.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Kyoto, Japan')
						img(src='img/14.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/13.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Home')
						img(src='img/13.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/12.jpg', itemprop='contentUrl', data-size='496x750', data-caption='@Kyoto, Japan')
						img(src='img/12.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/11.jpg', itemprop='contentUrl', data-size='750x496', data-caption='@Kyoto, Japan')
						img(src='img/11.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/10.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Nara, Japan')
						img(src='img/10.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/09.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Nara, Japan')
						img(src='img/09.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/08.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Kyoto, Japan')
						img(src='img/08.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/07.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Yamanashi, Japan')
						img(src='img/07.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/06.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Tokyo, Japan')
						img(src='img/06.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/05.jpg', itemprop='contentUrl', data-size='720x477', data-caption='@Osaka, Japan')
						img(src='img/05.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/04.jpg', itemprop='contentUrl', data-size='477x720', data-caption='@Osaka, Japan')
						img(src='img/04.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/03.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Kochi, Japan')
						img(src='img/03.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/02.jpg', itemprop='contentUrl', data-size='1280x1920', data-caption='@Osaka, Japan')
						img(src='img/02.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption
				
				figure.msnry_item(itemscope='', itemtype='http://schema.org/ImageObject')
					a(href='img/01.jpg', itemprop='contentUrl', data-size='1920x1280', data-caption='@Osaka, Japan')
						img(src='img/01.jpg', itemprop='thumbnail', alt='')
					figcaption.photoswipe-gallery-caption

		#footer
			div= '© 2016-' + site.now.year + ' ' + site.title + '. All rights reserved.'
			div.oh
				| Powered by <a href='https://bitcron.com' target='_blank'>Bitcron</a>, <a href='https://codepen.io/telatkaya/pen/xXgjpX' target='_blank'>@telatkaya</a> and <a href='http://github.hubspot.com/pace/docs/welcome/' target='_blank'>Pace</a>.
			div.oh
				| Special thanks to <a href='http://photoswipe.com/' target='_blank'>PhotoSwipe</a>, <a href='https://masonry.desandro.com' target='_blank'>Masonry</a> and <a href='https://github.com/thriveweb/photoswipe-masonry' target='_blank'>THRIVE</a>.

		.pswp(tabindex='-1', role='dialog', aria-hidden='true')
			.pswp__bg
			.pswp__scroll-wrap
				.pswp__container
					.pswp__item
					.pswp__item
					.pswp__item
				.pswp__ui.pswp__ui--hidden
					.pswp__top-bar
						.pswp__counter
						button.pswp__button.pswp__button--close(title='Close (Esc)')
						button.pswp__button.pswp__button--share(title='Share')
						button.pswp__button.pswp__button--fs(title='Toggle fullscreen')
						button.pswp__button.pswp__button--zoom(title='Zoom in/out')
						.pswp__preloader
							.pswp__preloader__icn
								.pswp__preloader__cut
									.pswp__preloader__donut
					.pswp__share-modal.pswp__share-modal--hidden.pswp__single-tap
						.pswp__share-tooltip
					button.pswp__button.pswp__button--arrow--left(title='Previous (arrow left)')
					button.pswp__button.pswp__button--arrow--right(title='Next (arrow right)')
					.pswp__caption
						.pswp__caption__center

		script
			var container_7_1 = document.querySelector("#psgal_7_1");
			var msnry;

			// initialize after all images have loaded
			imagesLoaded(container_7_1, function() {
				// initialize Masonry after all images have loaded
				new Masonry(container_7_1, {
					// options...
					itemSelector: ".msnry_item",
					// columnWidth: 300,
					isFitWidth: true
				});
				container_7_1.className += " photoswipe_showme";
			});

			var totalWidth = 0;
			var totalHeight = 0;

			$(".psgal figure img").each(function( index ) {
				totalWidth = $(this).clientWidth;
				totalWidth = $(this).clientHeight;

				//$(this).parent().attr("data-size",totalWidth +"x"+totalHeight)
			});

			//alert(totalWidth);

		+h.auto_header()
		+h.back_to_top(label='↾')